{% extends 'home/base-navbar.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <h3>Password Reset Complete</h3>
                <p>Your password has been set successfully.</p>
                <p>You may now log in with your new password.</p>
                
                <a href="{% url 'login' %}" class="btn btn-primary">
                    Log In Now
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}